<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>FIGMA | Макеты для верстки — Верстка страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Макет для верстки сайта был взял с телеграм канала FIGMA | Макеты для верстки"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <!-- Начало: Данный блок удалять нельзя -->
    <div class="maketforfigma">
      <a href="https://t.me/s/FigmaToHTML" target="_blank">
        <img src="img/logo.png" />
      </a>
      <div>
        <p>
          Данная верстка, была реализована пользователем в рамках обучающего
          телеграм канал
          <a href="https://t.me/s/FigmaToHTML" target="_blank"
            >FIGMA | Макеты для верстки</a
          >
        </p>
        <p>
          При помощи
          <a href="https://t.me/HtmlCodeForMoney_bot?from_git" target="_blank"
            >Telegram-бота</a
          >
          пользователь получил оплату за верстку этого макета.
        </p>
      </div>
    </div>
    <!-- Конец -->

    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header__top">
            <a href="#" class="header__logo-link">
              <img src="img/header-logo.svg" alt="logo img" />
            </a>
            <nav class="header__menu menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="#" class="menu__link"> About </a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"> Services </a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"> Pricing </a>
                </li>
                <li class="menu__item">
                  <a href="#" class="menu__link"> Contact </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__content">
            <div class="header__textblock">
              <h1 class="header__title">
                keeping memories with an
                <span> Aesthetic Pictures and Videos </span>
              </h1>
              <p class="header__text">
                The most reliable studio for Photography <br> and Videography
              </p>
              <div class="header__linkbox">
                <a href="#" class="header__link left-link">
                  Portfolio
                </a>
                <a href="#" class="header__link right-link">
                  Book now
                </a>
              </div>
            </div>
            <img src="img/image 11.png" alt="img" class="header__content-img" />
          </div>
        </div>
      </header>
      <section class="services">
        <div class="container">
          <h2 class="services__title">
            Affiliate Services
          </h2>
          <div class="services__items">
            <ul class="services__list">
              <li class="services__item">
                <img src="img/services/1.svg" alt="services img">
              </li>
              <li class="services__item">
               <p>Photo Book</p>
               <li class="services__item">
                <img src="img/services/2.svg" alt="services img">
              </li>
              <li class="services__item">
               <p>Videography</p>
              </li>
              <li class="services__item">
                <img src="img/services/3.svg" alt="services img">
              </li>
              <li class="services__item">
               <p>Photo Frame</p>
              </li>
              <li class="services__item">
                <img src="img/services/4.svg" alt="services img">
              </li>
              <li class="services__item">
               <p>Passport Picture</p>
              </li>
              </li>
            </ul>
          </div>
          <div class="services__content-box">
            <div class="services__content">
              <img src="img/services/1.png" alt="img">
              <div class="services__textblock">
                <h3 class="services__content-title">
                  Well Quiped studio set up for both Video and PhotoProduction 
                </h3>
                <p class="services__content-text">
                  We have current equipment to facilitate
  studio productions 
                </p>
                <a href="#" class="services__content-link top-link">
                  View Pricing
                </a>
              </div>
            </div>
            <div class="services__content">
              <div class="services__textblock">
                <h3 class="services__content-title">
                  Over 10years Experience in Video
  Production 
                </h3>
                <p class="services__content-text">
                  We have experience Cenimatographers with current equipment and tool to produce awesome footages
                </p>
                <a href="#" class="services__content-link bottom-link">
                  Read More
                </a>
              </div>
              <img src="img/services/2.png" alt="img">
            </div>
          </div>
        </div>
      </section>
      <section class="reviews">
        <div class="container">
          <h2 class="reviews__title">
            testimonials
          </h2>
          <p class="reviews__subtitle">
            Read what others <br> have to say
          </p>
          <div class="reviews__items">
            <div class="reviews__item">
              <img src="img/reviews/1.png" alt="photo" class="reviews__photo">
              <div class="reviews__cart">
                <h4 class="reviews__name">
                  Olivia Cole
                </h4>
                <p class="reviews__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
                </p>
              </div>
            </div>
            <div class="reviews__item">
              <img src="img/reviews/2.png" alt="photo" class="reviews__photo">
              <div class="reviews__cart">
                <h4 class="reviews__name">
                  Mr. Katakyie
                </h4>
                <p class="reviews__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
                </p>
              </div>
            </div>
            <div class="reviews__item">
              <img src="img/reviews/3.png" alt="photo" class="reviews__photo">
              <div class="reviews__cart">
                <h4 class="reviews__name">
                  Mrs. Sam
                </h4>
                <p class="reviews__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
                </p>
              </div>
            </div>
          </div>
          <div class="banner">
            <h2 class="banner__title">
              are you ready?
            </h2>
            <p class="banner__text">
              be a part of the <br> next big thing
            </p>
            <a href="#" class="banner__link">
              Book Now
            </a>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer__decor">
          </div>
        </div>     
      </footer>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
