%mtn-400 {
    font-family: 'MTNBrighterSans-Regular';
    font-weight: 400;
}
%mtn-500 {
    font-family: 'MTNBrighterSans-Medium';
    font-weight: 500;
}
%mtn-700 {
    font-family: 'MTNBrighterSans-Bold';
    font-weight: 700;
}
%out-400 {
    font-family: 'Outfit-Regular', sans-serif;
    font-weight: 400;
}
%rob-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}