@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.main {
    background-image: url(../img/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 105px 0 144px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 96px;
    }

    .menu {
        &__list {
            display: flex;
            gap: 26px;
            align-items: center;
        }

        &__link {
            color: #FFF;
            @extend %out-400;
            font-size: 25px;
            line-height: 30px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__textblock {
        max-width: 495px;
    }

    &__title {
        @extend %mtn-400;
        font-size: 50px;
        line-height: 45.5px;
        letter-spacing: -1px;
        margin-bottom: 10px;
        opacity: 0;
        transform: translateY(-50px);

        span {
            @extend %mtn-700;
            line-height: 47.5px;
        }
    }

    .header__title.element-show {
        opacity: 1;
        transition: all 1.6s;
        transform: translateY(0%);
    }

    &__text {
        @extend %rob-400;
        line-height: 27.5px;
        font-size: 20px;
        margin-bottom: 28px;
        opacity: 0;
        transform: translateX(-50px);
    }

    .header__text.element-show {
        opacity: 1;
        transition: all 2s;
        transform: translateY(0%);
    }

    &__linkbox {
        display: flex;
        gap: 50px;
    }

    &__link {
        @extend %mtn-500;
        color: #FFF;
        font-size: 20px;
        line-height: 27.5px;
        padding: 14px 40px;
        border-radius: 10px;
        border: 1px solid #8A8A8A;
    }

    .left-link {
        padding: 14px 38px 14px 51px;
        border: 1px solid transparent;
        background: #D50138;
    }

    &__content-img {
        opacity: 0;
        transform: translateX(100px);
    }

    .header__content-img.element-show {
        opacity: 1;
        transition: all 2.5s;
        transform: translateY(0%);
    }
}

.services {
    padding-bottom: 178px;

    &__title {
        @extend %mtn-400;
        line-height: 27.5px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__items {
        padding: 18px 0;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.10);
        margin-bottom: 190px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__content-box {
        display: flex;
        flex-direction: column;
        gap: 178px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 68px;
    }

    &__textblock {
        max-width: 400px;
    }

    &__content-title {
        @extend %mtn-400;
        font-size: 36px;
        line-height: 35.5px;
        letter-spacing: -0.72px;
        margin-bottom: 13px;
        opacity: 0;
        transform: translateY(-50px);
    }

    .services__content-title.element-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
    }

    &__content-text {
        @extend %rob-400;
        font-size: 17px;
        line-height: 17.5px;
        margin-bottom: 38px;
        opacity: 0;
        transform: translateX(50px);
    }

    .services__content-text.element-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
    }

    &__content-link {
        @extend %mtn-500;
        color: #FFF;
        font-size: 20px;
        line-height: 27.5px;
    }

    .top-link {
        padding: 14px 27px;
        border-radius: 10px;
        background: #0026FF;
    }

    .bottom-link {
        padding: 14px 35px;
        border-radius: 10px;
        background: #7502A3;
    }
}

.reviews {
    padding-bottom: 400px;

    &__title {
        @extend %mtn-400;
        font-size: 20px;
        line-height: 27.5px;
        text-transform: uppercase;
        margin-bottom: 18px;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
    }

    .reviews__title.element-show {
        opacity: 1;
        transition: all 2s;
        transform: translateY(0%);
    }

    &__subtitle {
        @extend %mtn-700;
        text-align: center;
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 75px;
        opacity: 0;
        transform: translateX(-150px);
    }

    .reviews__subtitle.element-show {
        opacity: 1;
        transition: all 2s;
        transform: translateX(0%);
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 126px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cart {
        max-width: 328px;
        padding: 98px 46px 52px 46px;
        border-radius: 18px;
        background: rgba(0, 38, 255, 0.30);
        text-align: center;
    }

    &__name {
        @extend %mtn-400;
        font-size: 20px;
        line-height: 27.5px;
        margin-bottom: 18px;
        text-transform: capitalize;
    }

    &__photo {
        transform: translateY(50%);
    }

    .banner {
        text-align: center;
        padding: 63px 0;
        background-image: linear-gradient(95deg, rgba(0, 117, 255, 0.47) 1.06%, rgba(231, 0, 111, 0.41) 101.51%);
        border-radius: 18px;

        &__title {
            @extend %mtn-400;
            font-size: 20px;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
            opacity: 0;
            transform: translateY(-50px);
        }

        .banner__title.element-show {
            opacity: 1;
            transition: all 1.5s;
            transform: translateY(0%);
        }

        &__text {
            @extend %mtn-700;
            font-size: 50px;
            line-height: 48px;
            text-transform: capitalize;
            margin-bottom: 46px;
            opacity: 0;
            transform: translateX(-150px);
        }

        .banner__text.element-show {
            opacity: 1;
            transition: all 2s;
            transform: translateX(0%);
        }

        &__link {
            @extend %mtn-500;
            color: #311B52;
            font-size: 20px;
            line-height: 27.5px;
            border-radius: 10px;
            background: #FFF;
            padding: 14px 38px;
            opacity: 0;
        }
         .banner__link.element-show {
            opacity: 1;
            transition: all 5s;
        }
    }
}

.footer {
    padding-bottom: 135px;

    &__decor {
    border-radius: 16px;
        width: 100%;
        height: 20px;
        background: rgba(152, 152, 152, 0.10);
    }
    .footer__decor.element-show{
    height: 2px;
    border-radius: 0;
     transition: all 2s;
    }
}



@import 'media';